DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public" # Измените на ссылку на вашу бд из docker-compose.yml

JWT_SECRET=super-puper-secret-key # Измените на свой секретный ключ